:host {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  grid-template-columns: minmax(280px, 30%) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "list review"
  ;

  .note-list {
    grid-area: list;
    display: flex;
    flex-flow: column nowrap;

    .item-container {
      width: 100%;

      &.action-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-start;
        border-bottom: 2px solid #ffffff;
        padding: 10px;
      }

      &.tag-list-container {
        align-self: flex-end;
        min-height: 60px;
        max-height: 120px;
        border-top: 2px solid #ffffff;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

}

.note-review {
  display: flex;
  grid-area: review;
  border-left: 2px solid #ffffff;
  width: 100%;

  .placeholder {
    font-size: 20px;
    color: #ffffff;
    margin: auto;
  }
}
