$text-area-size: 16px;

:host {
  display: block;

  .add-note {
    background-color: #fff;
  }
}

.add-note-dialog-content {

  .note-form {
    display: flex;
    flex-flow: column;

    .text-area-container {
      width: 100%;
      position: relative;
      margin-bottom: 18px;

      &.note-content-container {
        height: 150px;
      }

      .add-note-textarea {
        resize: none;
        width: 100%;
        display: block;
      }

      .error-hint {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }
  }
}
