<div class="item-container note-list-container">
  <ng-container *ngIf="noteDataSource.connect() | async; let notes;">
    <ng-container *ngIf="notes.length > 0; else nodataTemplate">
      <div *ngFor="let note of notes;" class="note-list-item">
        <div class="note-data">
          <a
            [routerLink]="[{ outlets: {notereview: [note.id]}}]"
            [routerLinkActive]="'active'"
            #rla="routerLinkActive"
            class="item-title">{{note.title}}</a>
          <span class="item-date">{{note.updateAt | date: 'dd.MM.yyyy'}}</span>
        </div>
        <button
          mat-icon-button
          matTooltip="Delete note"
          (click)="deleteNote(note.id, rla.isActive)"
          class="delete-button">
          <span class="material-icons">close</span>
        </button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #nodataTemplate>
    <div  class="no-data-available">
      <span>No Data Available</span>
      <span>Use <span class="material-icons no-data-template">add</span> button above</span>
      <span>to add note</span>
    </div>
  </ng-template>
</div>
