$text-area-size: 20px;

:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  textarea {
    resize: none;
    width: 100%;
    font-size: $text-area-size;
    display: block;
  }

  .note-title {
    min-height: 62px;
    border-bottom: 2px solid #ffffff;

    .title-textarea {
      height: 100%;
    }
  }

  .text-area-container {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 100%;
    flex: 1;


  }
}
